window {
    padding: 3px 5px;
    border-radius: 14px;
    background: #000000;
}

label {
  color: #64B9FC;
}
  progressbar,
  segmentedprogress {
    min-height: 6px;
    border-radius: 999px;
    background: transparent;
    border: none;
    color: #64B9FC;
  }

  trough,
  segment {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: transparent;
    color: #64B9FC;
  }
