@import "colors.css";

* {
    color: @mauve;
    border: 0;
    padding: 0 0;
    font-family: "Fira Nerd Regular";
}

window#waybar {
    border: 0px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}
tooltip {
  background: rgba(58, 0, 76, 0.93);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
.waybar-weather {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.waybar-weather.hot {
    color: #a91313;
}

.waybar-weather.cold {
    color: #5fa4ec;
}

.waybar-weather.rain,
.waybar-weather.snow,
.waybar-weather.smoke {
    animation-name: blink-condition;
    animation-duration: 1s;
}

