#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
layout: Split(
    direction: Vertical,
    panes: [
        (
            size: "4",
            borders: "ALL",
            border_symbols: Rounded,
            pane: Pane(Header),
        ),
        (
            size: "1",
            pane: Pane(Tabs),
        ),
        (
            size: "100%",
            border_symbols: Rounded,
            pane: Pane(TabContent),
        ),
        (
            size: "3",
            borders: "ALL",
            border_symbols: Rounded,
            pane: Pane(ProgressBar),
        ),
    ],
),
borders_style: (fg: "#cba6f7"), // Mauve
highlight_border_style: (fg: "#cba6f7"),
default_album_art_path: Some("~/.config/rmpc/image/1.jpg"),
)
