* {
  background-image: none;
  box-shadow: none;
  font-family: "DepartureMono Nerd Font";
}

window {
   background-color: 	rgba(24,24,37,0.2);

}

button {
	text-decoration-color: #cdd6f4;
  border-radius: 10;
  border-color: #181825;
	color: #cdd6f4;
	background-color: #181825;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: rgb(28, 30, 46);
  border-style: solid;
	border-width: 3px;
  margin: 10px;
  border-radius: 30;
	border-color: #cba6f7;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
